@charset "ISO-8859-1";


.headblock {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 25px;
  padding: 20px;
  overflow: hidden;
  border: none;
  font: normal 16px/1 "Times New Roman", Times, serif;
  color: #24d6a6;
  text-align: center;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: #24d6a6;
  -webkit-box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
}

.order-table{
	margin-top:24px;
	border-collapse:collapse;
    margin-left: auto;
    margin-right: auto;
	width:85%;
}

.customHeader{
	font-size:18px;
	background: #1b1e23;
}

.sitelink{
	color:white;
	text-decoration:none;
	decoration:none;
	font-size: 18px;
}

body {
  
  font-family: "Lato";
  font-size: 16px;
  background: #171a1e;
  
}






